* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 8px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#iframe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    max-width: 475px;
    max-height: 475px;
    background-color: white;
}

#initial-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#title {
    font-size: 4rem;
    margin-bottom: 3rem;
}

#subtitle {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.difficult-button {
    font-size: 4rem;
    margin: 2%;
    padding: 4%;
    width: 75%;
    height: 15%;
    border-radius: 2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}

#easy {
    background-color: lightgreen;
}

#normal {
    background-color: #e4eb1c;
}

#hard {
    background-color: #d92c21;
}

#get-ready-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#get-ready {
    font-size: 8rem;
}

#game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.label-box {
    margin-top: 5%;
    text-align: center;
    width: 30%;
    height: 100%;
}

.label {
    font-size: 2rem;
    line-height: 3rem;
}

#holes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hole {
    width: 25%;
    height: 25%;
    margin: 1%;
    border: solid 1px;
    border-radius: 50%;
    background-color: black;
}

.mole {
    background-image: url('img/mole.PNG');
    background-size: 90%;
    background-position: center;
}

.mad-mole {
    background-image: url('img/mad-mole.PNG');
    background-size: 90%;
    background-position: center;
}

#post-game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

#message,
#hit {
    font-size: 3rem;
}

#play-again {
    font-size: 3rem;
    margin: 5%;
    padding: 8%;
    width: 50%;
    border-radius: 2rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    background-color: darkslategrey;
    color: white;
}

@media (max-width: 640px) {
    html {
        font-size: 6px;
    }
}